<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<!--
		org.apache.tomcat.jdbc.pool.DataSource
			driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
			url: jdbc:sqlserver://softleader.com.tw:1433;databaseName=msigtrainingdb
			username: msigtraining
			connection.password: msigtraining
	 -->

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
		<property name="url" value="jdbc:sqlserver://softleader.com.tw:1433;databaseName=msigtrainingdb"/>
		<property name="username" value="msigtraining"/>
		<property name="password" value="msigtraining"/>
	</bean>

	<!--
		org.springframework.orm.hibernate4.LocalSessionFactoryBean
			hibernate.show_sql: true
			hibernate.format_sql: true
			hibernate.hbm2ddl.auto: create
			hibernate.dialect: org.hibernate.dialect.SQLServer2008Dialect
	-->

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="mappingDirectoryLocations"> <!-- Spring掃描 mapping 檔案的目錄 -->
			<list>
				<value>classpath:</value>
			</list>
		</property>
		<!--<property name="mappingResources">-->
			<!--<list>-->
				<!--<value>policy.hbm.xml</value>-->
				<!--<value>item.hbm.xml</value>-->
			<!--</list>-->
		<!--</property>-->
		<property name="hibernateProperties"> <!--設定 hibernate -->
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</prop>
			</props>
		</property>
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!--
		org.springframework.orm.hibernate4.HibernateTransactionManager
	-->

	<bean id="transactionManager"
		  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<aop:config expose-proxy="true">
		<aop:pointcut id="servicePackage" expression="within(tw.com.msig.service.*)"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="servicePackage"/>
	</aop:config>




</beans>